In [61]:
import pandas as pd
from pprint import pprint
import numpy as np

In [62]:
pd.options.display.max_columns = 999

In [63]:
data = pd.read_pickle("senate_raw")

In [64]:
data.shape

(133103, 31)

In [65]:
data.sample()

,_id,actions,activeVersion,additionalSponsors,adopted,amendmentVersions,amendments,approvalMessage,basePrintNo,basePrintNoStr,billType,calendars,committeeAgendas,milestones,pastCommittees,previousVersions,printNo,programInfo,publishStatusMap,publishedDateTime,session,signed,sponsor,status,substitutedBy,summary,title,vetoMessages,vetoed,votes,year
22071,5b1c134b5a67a40cd3482738,"{'items': [{'billId': {'basePrintNo': 'J4091',...",,"{'items': [], 'size': 0}",True,"{'items': [''], 'size': 1}","{'items': {'': {'basePrintNo': 'J4091', 'sessi...",None,J4091,J4091-2009,"{'chamber': 'SENATE', 'desc': 'Regular and Joi...","{'items': [], 'size': 0}","{'items': [], 'size': 0}","{'items': [{'statusType': 'ADOPTED', 'statusDe...","{'items': [], 'size': 0}","{'items': [], 'size': 0}",J4091,None,"{'items': {'': {'version': '', 'published': Tr...",2010-03-04T11:45:21,2009,False,"{'member': {'memberId': 376, 'sessionMemberId'...","{'statusType': 'ADOPTED', 'statusDesc': 'Adopt...",None,,Congratulating the Baldwinsville Football Team...,"{'items': [], 'size': 0}",False,"{'items': [], 'size': 0}",2010

In [66]:
data_previousVersions = data[['_id','previousVersions']]
data_previousVersions.sample(10)

,_id,previousVersions
6675,5b1c125a5a67a40cd347eb14,"{'items': [{'basePrintNo': 'A4137', 'session':..."
1245,5b1c11ed5a67a40cd347d5de,"{'items': [], 'size': 0}"
65508,5b1c169e5a67a40cd348d0e5,"{'items': [], 'size': 0}"
125272,5b1c1aaf5a67a40cd349ba59,"{'items': [], 'size': 0}"
85350,5b1c180c5a67a40cd3491e67,"{'items': [], 'size': 0}"
82150,5b1c17c95a67a40cd34911e7,"{'items': [{'basePrintNo': 'A1926', 'session':..."
26608,5b1c13835a67a40cd34838f1,"{'items': [], 'size': 0}"
68103,5b1c16bd5a67a40cd348db08,"{'items': [], 'size': 0}"
67862,5b1c16bd5a67a40cd348da17,"{'items': [], 'size': 0}"
83396,5b1c17e15a67a40cd34916c5,"{'items': [{'basePrintNo': 'A1194', 'session':..."

In [67]:
def get_rando():
    rando = np.random.randint(50000)
    print(f"rando: {rando}")
    pprint(data_previousVersions.iloc[rando]['previousVersions'])
get_rando()

rando: 21024
{'items': [], 'size': 0}

In [68]:
data_previousVersions.iloc[30367]['previousVersions']

{'items': [{'basePrintNo': 'S2086',
   'session': 2009,
   'basePrintNoStr': 'S2086-2009',
   'printNo': 'S2086',
   'version': ''},
  {'basePrintNo': 'S2652',
   'session': 2007,
   'basePrintNoStr': 'S2652-2007',
   'printNo': 'S2652',
   'version': ''}],
 'size': 2}

In [69]:
max_size = 0
for idx,row in data_previousVersions.iterrows():
    if row['previousVersions']['size'] > max_size:
        max_size = row['previousVersions']['size']

In [70]:
print(f"Max Size: {max_size}")

Max Size: 7

In [71]:
data_previousVersions.sample()

                            _id          previousVersions
69945  5b1c16dc5a67a40cd348e23a  {'items': [], 'size': 0}

In [72]:
'''

{'items': [{'basePrintNo': 'S2086',
   'session': 2009,
   'basePrintNoStr': 'S2086-2009',
   'printNo': 'S2086',
   'version': ''},
  {'basePrintNo': 'S2652',
   'session': 2007,
   'basePrintNoStr': 'S2652-2007',
   'printNo': 'S2652',
   'version': ''}],
 'size': 2}
 
 '''

"\n\n{'items': [{'basePrintNo': 'S2086',\n   'session': 2009,\n   'basePrintNoStr': 'S2086-2009',\n   'printNo': 'S2086',\n   'version': ''},\n  {'basePrintNo': 'S2652',\n   'session': 2007,\n   'basePrintNoStr': 'S2652-2007',\n   'printNo': 'S2652',\n   'version': ''}],\n 'size': 2}\n \n "

In [73]:
new_list = []
counter = 0
dt = {}


for idx,row in data_previousVersions.iterrows():
    counter += 1
#     if counter > 15:
#         break
    
    if counter % 10000 ==0:
        print(f"counter: {counter}")
#     pprint(row)
    pv = row['previousVersions']
    
    if pv['size'] > 0:

        dt = {
        '_id':row['_id']
        ,'previousVersion':pv['items'][0]['basePrintNoStr']
        }
    else:
        dt = { 
            '_id':row['_id']
            ,'previousVersion': 'no_previousVersion'
             }

    
    new_list.append(dt)
    
    
data_previousVersions_new = pd.DataFrame(new_list)
data_previousVersions_new.sample(10)

counter: 10000
counter: 20000
counter: 30000
counter: 40000
counter: 50000
counter: 60000
counter: 70000
counter: 80000
counter: 90000
counter: 100000
counter: 110000
counter: 120000
counter: 130000

                             _id     previousVersion
3918    5b1c121b5a67a40cd347e04f          S7882-2007
128044  5b1c1ae55a67a40cd349c52d  no_previousVersion
111988  5b1c19e35a67a40cd3498675            S92-2015
90366   5b1c186e5a67a40cd34931ff  no_previousVersion
98552   5b1c18fc5a67a40cd34951f9  no_previousVersion
95001   5b1c18cb5a67a40cd349441a  no_previousVersion
68282   5b1c16cc5a67a40cd348dbbb          S7228-2011
23741   5b1c135b5a67a40cd3482dbe  no_previousVersion
73542   5b1c17265a67a40cd348f047  no_previousVersion
54696   5b1c15ba5a67a40cd348a6a9            S59-2011

In [74]:
pd.to_pickle(data_previousVersions_new,"data_previousVersions")

In [75]:
data_previousVersions_new.shape

(133103, 2)