In [1]:
import pandas as pd
from pprint import pprint
import numpy as np

In [2]:
#Set Up PyMongo
from pymongo import MongoClient

client = MongoClient()
db = client.ny_senate_db

db.collection_names()
col = db.senate_total

In [3]:
data = pd.DataFrame(list(col.find()))
# col.count()

In [4]:
# pprint(col.find_one({'votes.size':{"$gt":2}})['amendments']['items']['']['fullText']) #['size']

In [5]:
# texts = col.find({})
# print(type(list(texts)))
# pprint(texts[1])
# data = pd.DataFrame(texts)

In [6]:
data.shape

(133103, 31)

In [73]:
data.sample()

,_id,actions,activeVersion,additionalSponsors,adopted,amendmentVersions,amendments,approvalMessage,basePrintNo,basePrintNoStr,...,signed,sponsor,status,substitutedBy,summary,title,vetoMessages,vetoed,votes,year
42967,5b1c14e85a67a40cd34878d8,"{'items': [{'billId': {'basePrintNo': 'A7379',...",A,"{'items': [], 'size': 0}",False,"{'items': ['', 'A'], 'size': 2}","{'items': {'': {'basePrintNo': 'A7379', 'sessi...",None,A7379,A7379-2011,...,False,"{'member': {'memberId': 504, 'sessionMemberId'...","{'statusType': 'IN_SENATE_COMM', 'statusDesc':...",None,Provides for the issuance of a Cold War Certif...,Provides to the issuance of a Cold War Certifi...,"{'items': [], 'size': 0}",False,"{'items': [], 'size': 0}",2011

In [95]:
pd.to_pickle(data,"senate_master")

In [86]:
data_amendmentversions = data[['_id','amendmentVersions']]
data_amendmentversions.head(10)

                        _id           amendmentVersions
0  5b1c11c75a67a40cd347d101  {'items': [''], 'size': 1}
1  5b1c11ca5a67a40cd347d102  {'items': [''], 'size': 1}
2  5b1c11ca5a67a40cd347d103  {'items': [''], 'size': 1}
3  5b1c11ca5a67a40cd347d104  {'items': [''], 'size': 1}
4  5b1c11ca5a67a40cd347d105  {'items': [''], 'size': 1}
5  5b1c11ca5a67a40cd347d106  {'items': [''], 'size': 1}
6  5b1c11ca5a67a40cd347d107  {'items': [''], 'size': 1}
7  5b1c11ca5a67a40cd347d108  {'items': [''], 'size': 1}
8  5b1c11ca5a67a40cd347d109  {'items': [''], 'size': 1}
9  5b1c11ca5a67a40cd347d10a  {'items': [''], 'size': 1}

In [90]:
def extractamendments(row):
    size = int(row['amendmentVersions']['size'])
    row['amendmentNum'] = size
    return row

In [91]:
data_amendmentversions = data_amendmentversions.apply(extractamendments,axis=1)

In [92]:
data_amendmentversions.sample(5)

,_id,amendmentVersions,amendmentNum
120367,5b1c1a6a5a67a40cd349a730,"{'items': [''], 'size': 1}",1
79215,5b1c176b5a67a40cd3490670,"{'items': [''], 'size': 1}",1
104764,5b1c195f5a67a40cd3496a3d,"{'items': ['', 'A'], 'size': 2}",2
127977,5b1c1ae55a67a40cd349c4ea,"{'items': [''], 'size': 1}",1
16788,5b1c12ef5a67a40cd3481295,"{'items': [''], 'size': 1}",1

In [94]:
data_amendmentversions = data_amendmentversions[['_id','amendmentNum']]
pd.to_pickle(data_amendmentversions,"data_amendmentversions")