In [1]:
import pandas as pd
from pprint import pprint
import numpy as np
from IPython.display import clear_output

In [2]:
pd.options.display.max_columns = 999

In [3]:
data = pd.read_pickle("senate_raw")

In [4]:
data.shape

(133103, 31)

In [5]:
data.sample()

,_id,actions,activeVersion,additionalSponsors,adopted,amendmentVersions,amendments,approvalMessage,basePrintNo,basePrintNoStr,billType,calendars,committeeAgendas,milestones,pastCommittees,previousVersions,printNo,programInfo,publishStatusMap,publishedDateTime,session,signed,sponsor,status,substitutedBy,summary,title,vetoMessages,vetoed,votes,year
27826,5b1c13955a67a40cd3483db3,"{'items': [{'billId': {'basePrintNo': 'J6377',...",,"{'items': [], 'size': 0}",True,"{'items': [''], 'size': 1}","{'items': {'': {'basePrintNo': 'J6377', 'sessi...",None,J6377,J6377-2009,"{'chamber': 'SENATE', 'desc': 'Regular and Joi...","{'items': [], 'size': 0}","{'items': [], 'size': 0}","{'items': [{'statusType': 'ADOPTED', 'statusDe...","{'items': [{'chamber': 'SENATE', 'name': 'Fina...","{'items': [], 'size': 0}",J6377,None,"{'items': {'': {'version': '', 'published': Tr...",2010-06-30T10:25:34,2009,False,"{'member': {'memberId': 406, 'sessionMemberId'...","{'statusType': 'ADOPTED', 'statusDesc': 'Adopt...",None,,Memorializing Governor David A. Paterson to pr...,"{'items': [], 'size': 0}",False,"{'items': [], 'size': 0}",2010

In [9]:
data_sub = data[['basePrintNoStr','substitutedBy']]
data_sub.sample(10)

       basePrintNoStr substitutedBy
28922        A97-2011          None
112545     A2550-2017          None
71690      J2656-2013          None
100389     A9341-2015          None
4880       S3302-2009          None
32513      A2041-2011          None
93125      A6932-2015          None
132797     K1294-2017          None
117958     S4652-2017          None
53136      J5226-2011          None

In [51]:
def get_rando():
    rando = np.random.randint(90000,100000)
    print(f"rando: {rando}")
    pprint(data_sub.iloc[rando]['substitutedBy'])
get_rando()

data_sub.iloc[99940]['substitutedBy']

rando: 91784
None

{'basePrintNo': 'S6422', 'session': 2015, 'basePrintNoStr': 'S6422-2015'}

In [54]:
new_list = []
counter = 0
dit = {}

for idx,row in data_sub.iterrows():
    counter += 1
    
#     if counter > 150:
#         break

    if counter % 20000 == 0:
        print(f"counter: {counter}")

    subBy = row['substitutedBy']
    
    if subBy:
        dit = {"replacedBy":subBy['basePrintNoStr']
               ,"basePrintNoStr": row['basePrintNoStr']}
    else:
         dit = {"replacedBy":'not_replaced'
            ,"basePrintNoStr": row['basePrintNoStr']}

    

    new_list.append(dit)

data_text_info = pd.DataFrame(new_list)
data_text_info.sample(10)

counter: 20000
counter: 40000
counter: 60000
counter: 80000
counter: 100000
counter: 120000

       basePrintNoStr    replacedBy
44652      A8019-2011  not_replaced
102047     S7159-2015  not_replaced
33210      S2209-2011  not_replaced
57694      A1578-2013  not_replaced
69304      S5348-2013  not_replaced
101126     A9521-2015  not_replaced
38981      S3738-2011  not_replaced
85909      A3409-2015  not_replaced
30490       A885-2011  not_replaced
107276      S647-2017  not_replaced

In [55]:
data_text_info.iloc[99940]

basePrintNoStr    A9249-2015
replacedBy        S6422-2015
Name: 99940, dtype: object

In [56]:
pd.to_pickle(data_text_info,"data_substitutedBy")